<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="description" content="优秀教育网">
<meta name="keywords" content="优秀教育网">
<title>优秀教育网</title>

<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
</head>
<body >
	<div class="wrapper">
	<div id="headerWrapper" class="header">
		<img class="header-img" alt="优秀教育网" title="优秀教育网" src="../images/header.jpg" />
	</div>
	<div class="nav">
		<span class="">首页</span>
		<span class="">个人中心</span>
	</div>
	<div id="contWrapper" class="content">
		<div class="left-menu">
            <div class="jiaoxue">
            	<h2 class="list-title">教学管理</h2>
            	<ul>
            		<li>作业发布</li>
            		<li>作业批阅</li>
            		<li>课件发布</li>
            	</ul>
            </div>
            <div class="ziliao">
            	<h2 class="list-title">资料管理</h2>
            	<ul>
            		<li>习题管理</li>
            		<li>课件管理</li>
            	</ul>
            </div>
            <div class="kehou">
            	<h2 class="list-title">课后诊断</h2>
            	<ul>
            		<li>作业诊断</li>
            	</ul>            	
            </div>
            <div class="banji">
            	<h2 class="list-title">班级管理</h2>
            	<ul>
            		<li>学生管理</li>
            	</ul>            	
            </div>
		</div>
        <div class="right-content">
           <div class="step">
             <img alt="步骤" src="../images/buzhou.png" />
           </div>
           <div class="select-cont">
               <label class="grade-lbl">年级选择</label>
               <select name="grade">
                    <option value="一年级">一年级</option>
                    <option value="二年级">二年级</option>
                    <option value="三年级">三年级</option>
                    <option value="四年级">四年级</option>
               </select>
               <label class="class-lbl">班级选择</label>
               <select name="class">
                    <option value="一年级">一年级</option>
                    <option value="二年级">二年级</option>
                    <option value="三年级">三年级</option>
                    <option value="四年级">四年级</option>
               </select>
               <label class="group-lbl">分组选择</label>
               <select name="group">
                    <option value="一年级">一年级</option>
                    <option value="二年级">二年级</option>
                    <option value="三年级">三年级</option>
                    <option value="四年级">四年级</option>
               </select>               
           </div>
           <div class="main-cont">
              <div class="struct-tree">
              </div>
              <div class="std-list">
              </div>
           </div>
        </div>
	</div>
	<div id="footerWrapper" class="footer">
		<div class="foot-link">
			<div class="feature">
				<dl>
                    <dt class="title">教学特色</dt>
                    <dd>
                    	<a href="#">外研社英语</a><span class="split">|</span>
                    	<a href="#">启点数学</a><span class="split">|</span>
                    	<a href="#">小升初基地</a><span class="split">|</span>
                    	<a href="#">培优屋里</a><span class="split">|</span>
                    </dd>
				</dl>
			</div>
			<div class="about">
				<dl>
                    <dt  class="title">关于我们</dt>
                    <dd>
                    	<a href="#">学校简介</a><span class="split">|</span>
                    	<a href="#">欢乐动态</a><span class="split">|</span>
                    	<a href="#">课程设置</a><span class="split">|</span>
                    	<a href="#">欢乐园地</a><span class="split">|</span>
                    </dd>
				</dl>				
			</div>
			<div class="contact">
				<dl>
                    <dt  class="title">联系我们</dt>
                    <dd>
                    	<p>全国免费咨询热线:400-012-0546&nbsp;&nbsp;服务时间:周一至周五&nbsp;8:00-23:00</p>
                    	<p>在线咨询QQ:100000</p>
                    </dd>
				</dl>					
			</div>
		</div>
		<div class="foot-copyright">版权所有@hanzhaoeng3456@sina.com&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;豫ICP证1008600
		</div>
		<div class="foot-info">地址:北京市海淀区中国科技大厦01室&nbsp;邮编:1008600&nbsp;&nbsp;E-mail:theacn@126.com</div>
	</div>
</div>
</body>
</html>